<div class="container-fluid p-0">

  <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
    <div class="my-auto">
      <h1 class="mb-0">Dominic
        <span class="text-primary">Leggio</span>
      </h1>
      <div class="subheading mb-5">San Diego, CA · (916) 622-5310 ·
        <a href="mailto:name@email.com">domleggio@email.com</a>
      </div>
      <p class="lead mb-5">Aspiring Software Engineer currently pursuing Masters Degree in Computer Science, with over 2 years of technical experience. History with Java and C++, Software Development Life Cycle, and working in technical teams. Experience investigating and troubleshooting technical issues for end users in fast-paced, global environment. Passionate about taking career to next level with additional hands-on experience in web and software development.</p>
      <div class="social-icons">
        <a href="#">
          <i class="fab fa-linkedin-in"></i>
        </a>
        <a href="#">
          <i class="fab fa-github"></i>
        </a>
        <a href="#">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="#">
          <i class="fab fa-facebook-f"></i>
        </a>
      </div>
    </div>
  </section>

  <hr class="m-0">

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
        <div class="my-auto">
          <h2 class="mb-5">Experience</h2>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Technology Specialist</h3>
              <div class="subheading mb-3">TD Ameritrade</div>
              <p>Lead technical support actions for nationwide team of Trading, Sales, and Financial Advising Professions of large Financial Brokerage firm; provide over-the-phone, remote, and in-person support, troubleshoot and resolve technical issues related to password and logins, navigation of website, mobile app, and proprietary trading platform; handled upwards of 375 issues weekly.</p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">February 2016 - Present</span>
            </div>
          </div>
        
        <div class="resume-item d-flex flex-column flex-md-row mb-5">
          <div class="resume-content mr-auto">
            <h3 class="mb-0">Transfer Associate</h3>
            <div class="subheading mb-3">TD Ameritrade</div>
            <p>Managed over 250 weekly Advisor and client requests for brokerage and savings account transfers, reviewed, audited, and processed required paperwork, recorded transactions in centralized database, and confirmed completion of request and transfer with outside firms; consistently exceeded productivity and quality levels through measured KPI’s.</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">June 2013 - October 2015</span>
          </div>
        </div>
      </div>

      </section>

      <hr class="m-0">

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="education">
        <div class="my-auto">
          <h2 class="mb-5">Education</h2>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Masters in Computer Science</h3>
              <div class="subheading mb-3">National University</div>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">October 2017 - present</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Bachelors in Economics</h3>
              <div class="subheading mb-3">San Diego State University</div>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">August 2008 - June 2013</span>
            </div>
          </div>

        </div>
      </section>

      <hr class="m-0">

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills">
        <div class="my-auto">
          <h2 class="mb-5">Skills</h2>

          <div class="subheading mb-3">Programming Languages &amp; Tools</div>
          <ul class="fa-ul mb-0">
            <li>
              <i class="fa-li fa fa-check"></i>
              Java</li>
            <li>
              <i class="fa-li fa fa-check"></i>
              C++</li>
            <li>
              <i class="fa-li fa fa-check"></i>
              Python</li>
            <li>
              <i class="fa-li fa fa-check"></i>
              Angular</li>           
            <li>
              <i class="fa-li fa fa-check"></i>
              HTML</li>
            <li>
              <i class="fa-li fa fa-check"></i>
              CSS</li>            
            <li>
              <i class="fa-li fa fa-check"></i>
              Javascript</li>              
          </ul>

          
        </div>
      </section>

      <hr class="m-0">


      <hr class="m-0">
</div>

<!--TRAVEL SECTION-->

<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="interests">
<div class="my-auto">

  <h2 class="my-5">Travel photos</h2>

  <div class="row text-center text-lg-left">

    <div class="col-lg-3 col-md-4 col-xs-6">
      <a href="#" class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src="https://lh3.googleusercontent.com/5QNswz-4m9FIcoupNWjZo4XP83qvGiznvpJqivSy2Kw5_ZtaswR6wV4JgXJ1OJug5JZRTqiJMF0zZ4ve_VnT2g7ekF_iuQDysikcq8lR7ioSp41smNF3qfIs2-M-hfKprWtqoBLkYz8jZ767-Zx0ooi8S9h7lbsQNJZMwONEgzFjuNNX86aBH1Q_MJlS-jEhwprWz-uDg8eVKsROuwm5QUNiRdR5Jx7Xo6row8GK7f2LDEX3YqsX5REo98tTBeAdg_OtBplYj9EJkQ1Br5wbJ1i4Bg2RIKeoYoc9ObWwCRdLsypfP2_lvoT4Bwe34IuS3PKfR8IQmuyy7v7CGh-H4eF-5Tn17gSsBIENZT-JAqAFMQ1vIYhWnSXD8lpHr-3FRdPU1TjsG-IdjzbcbDwtoGMMsjvuCT65aYy13gN_80N3-0OaRLQI35Fodc3kIgeUUNhQTbpIc0KRZFI6PCDpDSPGtFRKnE_UqJc9ywFwyT9skuvZf6VYqNgZ2_8-M0B7qu-bxb3bOtayLRNt9wwFEYPtTcesqKAyD-CbwOva_Jk7FSfpHHIZn2RZ-ACYDKm7aR9hWSE6l5UO74NS4tvYbf_Ujgu1OqsFs9MRwyvYrAWbqdyuH_V8gWPCl9--ZQs=w1095-h821-no" alt="">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6">
      <a href="#" class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src="https://lh3.googleusercontent.com/luFHOJZzBcQhOSTiIgJoIOzYsU9HR2AvAUyim70s2nzgfadpxL4VSxmy-ymNrXkPPK4tfED7YkmTWT-IJEP4QegLqpqLqpLM6rMgYZm7X0fhlQDAXGKiFgM2gWne-k3Sts5TAI7YTB5mNaKT2VxnGdDCY-zaETevYu7C7JoFasBhpwMLPNc5N-jQDqAaIIMAtOqFTWwZYJgcslbN-_HM9Ek6Qb8uQQO3HbVaQ45_helT6SztsNruSgA2knMI46fJimL47BqTYqcLreYAKPc4oXaC2Njk7RWw-8QDkuNDxaXIzVvuwuqY2dvLjuYRoL4jRby4eajtbH7EkA2x8dhuy4ZxgnCNrgWUdz1vbAfXT-2JJVeA68emNDrx5n-o334xgVsidyLlFaCcsTOPBPoF2Wg1MHnGbk515ee5Kp0fpzZ1y2EGoGCwT8NCEMXWEvFmtRPoJOkVaI-lXX0sAtGCUtv2wfCj-vE6rVdPvVsmuNVN5nv1LZ2vqaI3-njz8PQdTvHK92YkVMG0IDiwv3O_kR06sl__3YaPafQa099sF8QPf8J44-OjiKXN2tDhEWEluUqDKwiynuXFCkJiYZwG_mmxyuyBeMTu5dG_azTWvQAvUqdgAJUZObo577cUpZI=w1095-h821-no" alt="">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6">
      <a href="#" class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src="https://lh3.googleusercontent.com/ZAyjwJ4PAerQHQkw-IhQK3b43MS0hBFLdassIk6XsNAALFYBDlSiaQmpFupu9u1O8Zp2FEDBz_9BoAz4kU7JF3INr4zd79zN2E3Y8sdHTv_SgNQSRiW8-nF7V4YXct8KcOLvF2-hPMmt1TDTFvRSeO4hTUjGm-293qT7zzlcouMnpeTeqYxY6XGt_9zZ_Er_KpeJV_TX_4j4FGL7LaKaYB_rThOJP0aLb5fxJIHt0etnftpTbZ5p4VjL1M-K0LQpPr_YzSM67BAT2nrykli0NjS8calfGoufKMeuc4XBW82a3PRE5MY7Eqcvnf5RhqjsT-UpuUeoGDatfoOICFK7y-am0ECLRHVG4moG8mCadPtASwEoJZTIcQmSEwhv0St-gGAzWc5NdPuzYtqCvCTNWAZ_CuVztkRB2h9xKSbXm6qt3eCMdesFepTX-hWmoaVyYWcD-QrM4AB_yzZ372sXTLmMZHYMOjq4Boc5y2VuLBB_2U9MtXkhFSxUwPWMqWgXRLg2b7oLs1vF2K83AJ1sEjNCiHdeIjpDbEfrrpYTORp0GXw6v_4A82v_h9LXtL_6gOa8oY68VVM69NhvWpX-uqT-sE0lU1iljeoZRguxMnm2HXugxxar6IaadKbFNdY=w1100-h821-no" alt="">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6">
      <a href="#" class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src="https://lh3.googleusercontent.com/nwj-7hh9Aa3psafsLyBGQBjRdJFwD7veXf1P_Ut-8hSPrlwQXrsTf6cbd_DqhYsrGMCd3DS3DsU9tbiCVAG9JfCT7C-kj3TJUbnJM_dtHBtRNExFx29dKbPs82wyDdYFX93T4DPi2TJLBmHgJ_lMcXmICqB3ML_i9kXa6bHRqPiLzc_xfLjwktPVoqZ7avgFRom2MXHFYukD--8gnRVsK80X-a8R-qKeh2Pz4A0NmBa7N2Dj61eD3sPMVDK4GJk2xpY3dzYq1Uosghr10yllNKMtH6fMceV1sS8jK_n3jy0mdD9d2AK8kVmct2Klw2BdJ391p6IuOJtR02loNDFYhM8CmeGoxr47_QWRp5FXQzKvyfrcS71ogFDIjoYskc2k3kl6_o6xLaEl0drcC9kogkF7hEV18aeTkj90Z519elxIuCGkNMbvBqQhQ0Rvrkt5_mGspOTzQYXzPB-t3mYjTNd1WKCsRv_EqllZTmshigs5GMLOLBxrt7UxS4RKSvN2rAaOUBXNdh8QmbWfySu01FJyd1_zYXilcNLSyJ27PU1kyQpO2UKx89hc8BYOn2D3JLy9NP8ygBLv8c-YTW7BaSQittVKC49xTOw8WhoaJkzyD4Rh5YUXNyiVD58aPew=w1095-h821-no" alt="">
      </a>
    </div>
  </div>

</div>

</section>